@font-face {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    src: local('Arial'),
         url('../../assets/fonts/Arial.woff2') format('woff2'),
         url('../../assets/fonts/Arial.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial-Italic';
    font-weight: 400;
    font-style: italic;
    src: local('Arial-Italic'),
         url('../../assets/fonts/Arial-Italic.woff2') format('woff2'),
         url('../../assets/fonts/Arial-Italic.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Georgia';
    font-weight: 400;
    font-style: normal;
    src: local('Georgia'),
         url('../../assets/fonts/Georgia.woff2') format('woff2'),
         url('../../assets/fonts/Georgia.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Georgia-Italic';
    font-weight: 400;
    font-style: italic;
    src: local('Georgia-Italic'),
         url('../../assets/fonts/Georgia-Italic.woff2') format('woff2'),
         url('../../assets/fonts/Georgia-Italic.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Georgia-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('Georgia-Bold'),
         url('../../assets/fonts/Georgia-Bold.woff2') format('woff2'),
         url('../../assets/fonts/Georgia-Bold.woff') format('woff');
    font-display: swap;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
*,
*::after,
*::before{
     box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
     margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: 'Georgia';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 160%;
    color: #4c4c4c;
}

.container {
     max-width: 1280px;
    margin: 0 auto;
}
.header {
    background-image: url('../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background: radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%), url("../../assets/images/gradient-background.jpg");
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 42px 0px 40px;
    margin-bottom: 90px;
}
.menu__list {
    display: flex;
}
.menu__list-item + .menu__list-item {
    margin-left: 35px;
}
.menu__list-link {
    font-family: 'Arial';
    color: #fafafa;
    transition: all .3s;
}
.menu__list-link:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #f1cdb3;
}
.header__content-inner {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;

}

.header__info {
    max-width: 460px;
    padding-top: 163px;
}
.header__title {
    font-size: 44px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 42px;
    max-width: 400px;
}
.header__text {
    font-family: 'Arial';
    color: #cdcdcd;
    margin-bottom: 57px;
}
.header__button {
    border-radius: 100px;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    background-color: #f1cdb3;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: all .3s;
}
.header__button:hover {
    background-color: #fddcc4;
}